header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 2em 9%;
    transition: all .5s ease;

    .navbar--img {
        max-width: 10.625em;
    }




    .navbar {
        display: flex;

        a {
            text-decoration: none;
            font-family: 'ddin-exp';
            font-size: 1em;
            color: #b2b2b2;
            padding: 0.3125em 0;
            margin: 0 2em;
            transition: all .50s ease;

        }

        a:hover {
            color: var(--main-color);
        }

        a.activebutton {
            color: var(--main-color);
        }

        button {
            display: none;
        }

    }



    button {
        font-size: 1em;
        font-family: 'ddin-exp';
        background-color: var(--main-color);
        color: #fff;
        width: 12.3em;
        height: 3em;
        border: none;
        border-radius: 1.6em;
    }


    i {
        display: none;

        mat-icon {
            font-size: 2em;
            color: var(--main-color);

        }
    }

}

@media (max-width: 1280px) {
    header {
        padding: .9em 2%;
        transition: 2s;

        .navbar a {
            padding: .3em 0;
            margin: 0 1.3em;

        }
    }


}

@media (max-width: 1090px) {

    header {

        i {
            display: block; 
            padding-right: .5rem;
        }

        .navbar--img {
            // max-width: 10.625em;
            // width: 9rem;
            width: 40vw;

            // width: max(9.5rem, , 10.625rem);
        }

        .navbar {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 270px;
            height: 29vh;
            background: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            transition: all .50s ease;


            a {
                display: block;
                margin: 12px 0;
                padding: 0px 25px;
                transition: all .50s ease;
            }

            button {
                display: block;
            }
        }

        .navbar a:hover {
            color: var(--bg-color);
            transform: translateY(5px);
        }

        .navbar a.active {
            color: var(--bg-color);
        }

        .navbar.open {
            right: 2%;
        }


        button {
            display: none;
        }

    }
}