.navbar {
    background-color: var(--bg-color);
    // min-width: 100%;

    .navbar--nav {
        height: 105px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        
        
        .navbar--img {
            max-width: 170px;
        }
    
        
    
    
        .navbar--items {
            display: flex;
            justify-content: space-between;
            // background-color: burlywood;
            height: 100%;
            padding: 41px 370px;
            gap: 64px;
            
            a {
                
                text-decoration: none;
                font-family: 'ddin-exp';
                font-size: 16px;
                color: #b2b2b2;
                opacity: 1;
            }
    
            
        }




        button {
            background-color: #004257;
            color: #fff;
            width: 197px;
            height: 49px;
            border: none;
            border-radius: 25px;
            font-family: 'ddin-exp';
            font-size: 16px;
        }
    }
}


