<header >
    <img class="navbar--img" src="../../../../assets/imgs/logo-deepen-horizontal-01@2x.png" alt="Logo">
    <ul class="navbar"  [ngClass]="isMenuOpen ? 'open' : '' " >

        <li><a href="" routerLink="" fragment="Home" >HOME</a></li>
        <li><a href="" routerLink="" fragment="About" >SOBRE</a></li>
        <li><a href="" routerLink="" fragment="Solutions" >SOLUÇÕES</a></li>
        <li><a href="" routerLink="" fragment="Footer" >CONSULTORIA</a></li>
        <li><a href="" routerLink="" fragment="Blog" >BLOG</a></li>
        <button routerLink="" fragment="Contact" >ENTRE EM CONTATO</button>

    </ul>
    <button routerLink="" fragment="Contact" >ENTRE EM CONTATO</button>
    <i class="burger" (click)="toggleMenu()">
        <mat-icon class="material-symbols-outlined">{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
    </i>
</header>