<footer class="footer">
    <div class="footer--address">
        <h3>ENDEREÇO</h3>
        <p>Rod. José carlos Daux, 5025b</p>
        <p>Saco Grande, Florianópolis - SC</p>
        <p>88032-005, Brazil</p>
        <p>Business Decor - Sala 04</p>
    </div>
    <div class="footer--contact">
        <h3>CONTATO</h3>
        <a href="mailto:">contato@deepen.com.br</a>
    </div>
    <div class="footer--website-map">
        <h3>MAPA DO SITE</h3>
        <a href="">Home</a>
        <a href="">Sobre</a>
        <a href="">Soluções</a>
        <a href="">Consultorias</a>
        <a href="">Blog</a>
    </div>
</footer>
