.footer {
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 84px 120px;
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    gap: 124px;
    
    transition: all .50s ease;


    .footer--address {
        display: flex;
        flex-direction: column;
        font-family: 'ddin-cond';
        background-color: var(--main-color);

        h3 {
            font-size: 48px;
            margin: 0 0 8px 0;
            background-color: var(--main-color);
        }

        p {
            font-family: 'ddin';
            font-size: 24px;
            margin: 8px 0;
            background-color: var(--main-color);
        }
    }


    .footer--contact {
        display: flex;
        flex-direction: column;
        font-family: 'ddin-cond';
        background-color: var(--main-color);
        
        h3 {
            font-size: 48px;
            margin: 0 0 8px 0;
            background-color: var(--main-color);
        }
        
        a {
            text-decoration: none;
            color: #ffffff;
            font-family: 'ddin';
            font-size: 24px;
            margin: 8px 0;
            background-color: var(--main-color);
        }
        
        .footer--social-icons {
            display: flex;
            justify-content: left;
            gap: 32px;
            background-color: rgba(0, 0, 0, 0);
            
            a  > fa-icon {
                background-color: var(--main-color);
                color: #fff;
                font-size: 32px;
            }
        }

    }
}


.footer--website-map {
    display: flex;
    flex-direction: column;
    font-family: 'ddin-cond';
    background-color: var(--main-color);

    h3 {
        font-size: 48px;
        margin: 0 0 8px 0;
        background-color: var(--main-color);
    }

    a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'ddin';
        font-size: 24px;
        margin: 8px 0;
        background-color: var(--main-color);
    }
}



@media (max-width: 1280px) {
    .footer {
        gap: 80px;
        padding: 58px 90px;
        transition: all .50s ease;

        .footer--address {
            h3 {
                font-size: 32px;
            }
    
            p {
                font-size: 18px ;
            }
        }

        .footer--contact {
            h3 {
                font-size: 32px;
            }
    
            a {
                font-size: 18px ;
            }

            .footer--social-icons {
                gap: 20px;

                a > fa-icon {
                    font-size: 18px;
                }
            }
        }

        .footer--website-map {
            h3 {
                font-size: 32px;
            }
    
            a {
                font-size: 18px ;
            }
        }

    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        transition: all .50s ease;
        padding: 34px 60px;
    }
}