.footer {
    padding: 84px 120px;
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    gap: 124px;
    bottom: 0;

    
    .footer--address {
        display: flex;
        flex-direction: column;
        font-family: 'ddin-cond';
        background-color: var(--main-color);
        h3 {
            font-size: 48px;
            margin: 0 0 8px 0;
            background-color: var(--main-color);
        }
        
        p {
            font-family: 'ddin';
            font-size: 24px;
            margin: 8px 0;
            background-color: var(--main-color);
        }
    }
    
    
    .footer--contact {
        display: flex;
        flex-direction: column;
        font-family: 'ddin-cond';
        h3 {
            font-size: 48px;
            margin: 0 0 8px 0;
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-family: 'ddin';
            font-size: 24px;
            margin: 8px 0;
        }
    }

    
    .footer--website-map {
        display: flex;
        flex-direction: column;
        font-family: 'ddin-cond';
        h3 {
            font-size: 48px;
            margin: 0 0 8px 0;
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-family: 'ddin';
            font-size: 24px;
            margin: 8px 0;
        }
    }
}