<section class="blog">

    <div class="blog--header">
        <h3>CONFIRA OS ÚLTIMOS INSIGHTS DO NOSSO BLOG</h3>
        <a href="">IR PARA O BLOG</a>
    </div>

    <div class="blog--posts">
        <img src="../../../../../assets/imgs/post-image-1.png" class="blog--first-post">
        <img src="../../../../../assets/imgs/post-image-2.png" class="blog--second-post">
        <img src="../../../../../assets/imgs/post-image-3.png" class="blog--third-post">
    </div>

</section>




<!-- <div class="blog--header">
    <h3>CONFIRA OS ÚLTIMOS INSIGHTS DO NOSSO BLOG</h3>
    <a href="">IR PARA O BLOG</a>
</div>
<div class="container">
    <div class="row blog--posts">
        <div class="col-8 blog--first-post " >
            <h3>O PAPEL DO BIG DATA NA EVOLUÇÃO DO MERCADO DE ENGENHARIA E CONSTRUÇÃO</h3>
            <button>VER MAIS</button>
        </div>
        <div class="col-4 blog--second-post"></div>
        <div class="col-4 blog--third-post"></div>
    </div>
</div> -->