<section class="blog">

    <div class="blog--header">
        <h3>CONFIRA OS ÚLTIMOS INSIGHTS DO NOSSO BLOG</h3>
        <a href="">IR PARA O BLOG <mat-icon class="material-symbols-outlined">arrow_forward_alt</mat-icon></a>
    </div>

    <div class="blog--posts">
        <img src="../../../../../assets/imgs/post-image-1.png" class="featured">
        <img src="../../../../../assets/imgs/post-image-2.png" >
        <img src="../../../../../assets/imgs/post-image-3.png" >
    </div>

</section>


