.blog {
    padding: 7.75rem 7.5rem;
    width: 100%;

    
    .blog--header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-family: 'ddin-cond-bold';
            font-size: 3rem;
            color: var(--main-color);
        }

        a {
            text-decoration: none;
            font-family: 'ddin-exp-bold';
            font-size: 1.5rem;
            color: #C2C2C2;

            mat-icon {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
    }


    .blog--posts {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 100%;
            aspect-ratio: 1.1/1;
            // object-fit: cover;
        }
        
        .featured {
            grid-row: span 2;
            grid-column: span 2;
        } 
       
        
    }



}

