<section class="clients">
    <h2>NOSSOS CLIENTES</h2>
    <div class="container">
        <div class="row">
            <img class="col" src="../../../../../assets/imgs/clients/acate-logo.png" alt="">
            <img class="col" src="../../../../../assets/imgs/clients/brognoli-logo.png" alt="">
            <img class="col" src="../../../../../assets/imgs/clients/sebrae-logo.svg" alt="">
            <img class="col" src="../../../../../assets/imgs/clients/alto-qi-logo.png" alt="">
            <img class="col" src="../../../../../assets/imgs/clients/rockfeller-logo.png" alt="">

        </div>
        <div class="row">
            <img class="col" src="../../../../../assets/imgs/clients/resultados-digitais-logo.png" alt="" >
            <img class="col" src="../../../../../assets/imgs/clients/suafranquiacom-logo.png" alt="" >
            <img class="col" src="../../../../../assets/imgs/clients/Bittencourt-positivo-logo.png" alt="" >
            <img class="col" src="../../../../../assets/imgs/clients/marisol-logo.svg" alt="" >

        </div>
        <div class="row">
            <img class="col" src="../../../../../assets/imgs/clients/GAM-logo.png" alt="" >
            <img class="col" src="../../../../../assets/imgs/clients/vialaser-logo.svg" alt="" >
            
        </div>
    </div>
</section>
