

.contact {
    display: flex;
    padding: 0px 120px 164px 120px;
    gap: 280px;

    .contact--form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h2 {
            font-family: 'ddin-cond-bold';
            font-size: 82px;
            color: var(--main-color);
            margin: 0;
        }

        h4 {
            font-family: 'ddin';
            font-size: 32px;
            color: var(--main-color);
            margin-bottom: 16px;
            line-height: 48px;
        }

        input {
            font-family: 'ddin';
            font-size: 24px;
            border: 1px solid #C2C2C2;
            border-radius: 8px;
            opacity: 1;
            text-indent: 16px;
            height: 58px;
        }

        textarea {
            font-family: 'ddin';
            font-size: 24px;
            border: 1px solid #C2C2C2;
            border-radius: 8px;
            opacity: 1;
            // text-indent: 24px;
            padding: 16px 16px 16px 16px;
        }

        button {
            width: 227px;
            font-family: 'ddin-exp';
            font-size: 16px;
            color: #FFFFFF;
            background-color: var(--main-color);
            text-transform: uppercase;
            border: none;
            border-radius: 25px;
            padding: 16px 24px;

            i {
                background-color: var(--main-color);
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
            }
        }
    }
}
