

.contact {
    display: flex;
    padding: 2em 7.5em 8.5em 7.5em;
    gap: 17.5em;

    .contact--form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        h2 {
            font-family: 'ddin-cond-bold';
            font-size: 5.125em;
            color: var(--main-color);
            margin: 0;
        }

        h4 {
            font-family: 'ddin';
            font-size: 2em;
            color: var(--main-color);
            margin-bottom: 1em;
            line-height: 1.4em;
        }

        input {
            font-family: 'ddin';
            font-size: 1.5em;
            border: 1px solid #C2C2C2;
            border-radius: .5em;
            opacity: 1;
            text-indent: 1em;
            height: 3em;
        }

        textarea {
            font-family: 'ddin';
            font-size: 1.5em;
            border: 1px solid #C2C2C2;
            border-radius: .5em;
            opacity: 1;
            // text-indent: 24px;
            padding: 1em;
        }

        button {
            display: flex;
            align-items: normal;
            justify-content: space-between;
            justify-content: center;
            align-content: center;
            font-family: 'ddin-exp';
            font-size: 1.2em;
            width: 15em;
            padding: 1em 1.5em;
            color: #FFFFFF;
            background-color: var(--main-color);
            text-transform: uppercase;
            border: none;
            border-radius: 2.1em;
            // align-self: center;

            div {
                background: rgba(0, 0, 0, 0);
                display: flex;
                span {
                    
                    padding-top: 2px;
                    padding-right: 16px;
                    background: rgba(0, 0, 0, 0);
                }
                mat-icon {
                    font-size: 29px;
                    font-weight: 600;
                    background: rgba(0, 0, 0, 0);
                }
            }
            
            
        }
    }
}
