

.contact {
    display: flex;
    padding: 0px 120px 164px 120px;
    gap: 280px;

    .contact--form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h2 {
            font-family: 'ddin-cond-bold';
            font-size: 82px;
            color: var(--main-color);
            margin: 0;
        }

        h4 {
            font-family: 'ddin';
            font-size: 32px;
            color: var(--main-color);
            margin-bottom: 16px;
            line-height: 48px;
        }

        input {
            font-family: 'ddin';
            font-size: 24px;
            border: 1px solid #C2C2C2;
            border-radius: 8px;
            opacity: 1;
            text-indent: 16px;
            height: 58px;
        }

        textarea {
            font-family: 'ddin';
            font-size: 24px;
            border: 1px solid #C2C2C2;
            border-radius: 8px;
            opacity: 1;
            // text-indent: 24px;
            padding: 16px 16px 16px 16px;
        }

        button {
            display: flex;
            align-items: normal;
            justify-content: space-between;
            justify-content: center;
            align-content: center;
            font-family: 'ddin-exp';
            width: 240px;
            padding: 16px 24px;
            font-size: 16px;
            color: #FFFFFF;
            background-color: var(--main-color);
            text-transform: uppercase;
            border: none;
            border-radius: 35px;
            // align-self: center;

            div {
                background: rgba(0, 0, 0, 0);
                display: flex;
                span {
                    
                    padding-top: 2px;
                    padding-right: 16px;
                    background: rgba(0, 0, 0, 0);
                }
                mat-icon {
                    font-size: 29px;
                    font-weight: 600;
                    background: rgba(0, 0, 0, 0);
                }
            }
            
            
        }
    }
}
