.hero {
    font-family: ddin-cond;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11.25em 7.5em 0 7.5em;
    // padding: max(8vw, 9.25em) max(5vw, 7.5em);
    color: var(--main-color);
    background-color: var(--bg-color);
    transition: all .5s ease;

    text-align: center;


    img {
        width: 52em;
        transition: all .5s ease;
        padding-bottom: 5.25em;

    }

    h1 {
        font-size: 5.25em;
        // font-size: min(5.25rem, 5vw);w
        font-size: clamp(2.25rem, 5vw, 5.25rem);
        margin-bottom: 1.5rem;
        transition: all .5s ease;

    }

    h2 {
        font-family: ddin;
        // font-size: 1.875em;
        font-size: clamp(1rem, 2.5vw, 1.875em);
        margin: 0.27em 0 0 0;
    }
}

// @media (max-width: 1280px) {
//     .hero {

//         padding: 8em 5.625em;

//         img {
//             width: 559px;
//             transition: all .5s ease;
//         }

//         h1 {
//             font-size: 3.5em;
//             transition: all .5s ease;

//         }

//         h2 {
//             font-size: 1.625em;
//             transition: all .5s ease;

//         }
//     }
// }