/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    
    box-sizing: border-box;
    // background-color: coral;
    background-color: var(--bg-color);
    
}

html {
    margin: 0;
    padding: 0;
    // background-color: cornflowerblue;
    background-color: var(--bg-color);
}


:root {
    --bg-color: #f2f2f2;
    --main-color: #004257;
    --second-color: #4AAFB2;
}


@font-face {
    font-family: 'ddin';
    src: url('./assets/fonts/D-DIN.otf');
}
@font-face {
    font-family: 'ddin-exp';
    src: url('./assets/fonts/D-DINExp.otf');
}
@font-face {
    font-family: 'ddin-exp-bold';
    src: url('./assets/fonts/D-DINExp-Bold.otf');
}
@font-face {
    font-family: 'ddin-cond';
    src: url('./assets/fonts/D-DINCondensed.otf');
}
@font-face {
    font-family: 'ddin-cond-bold';
    src: url('./assets/fonts/D-DINCondensed-Bold.otf');
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
