.about {
    width: 100%;
    padding: 5.875em 12.125em;
    background-color: var(--bg-color);

    h2 {
        display: none;
        color: var(--main-color);
        font-family: 'ddin-cond-bold';
        text-align: center;
    }

}

.about--abt {
    display: flex;
    flex-direction: row;
    align-items: center;
    // gap: min(8vw, 15.725rem);
    gap: 7%;
    // flex: 1;
    // flex-basis: 100%;

    transition: all .5s ease;


    > * {

        // flex-basis: 100%; nesse caso deveria funcionar tambem, 
                            // suspeita de que seja pq um dos itens eh uma imagem
        width: 100%;
    }
    



    .about--text {
        display: flex;
        flex-direction: column;

        p {
            font-family: 'ddin';
            color: var(--main-color);
            font-size: clamp(1rem, 2.5vw, 1.875em);
            // font-size: max(2.25vw, 1em);
            // margin-bottom: 24px;
        }
    }

}


@media (max-width: 1280px) {

    .about {
        transition: all .5s ease;
        margin: auto;
        // padding: 2.875em 7.125em;
        padding: min(7rem, 7%);


        .about--title {
            display: block;
            font-size: clamp(2.25rem, 5vw, 5.25rem);
            padding-bottom: max(1rem, 2%);

        }   
        
        .about--img {
            position: relative;
            opacity: .15;
            margin: auto;
            width: 60%;
        }
        
        .about--text {
            
            display: block;
            position: absolute;
            width: 80%;

            p {
                // font-size: clamp(2.25rem, 5vw, 5.25rem);
                font-size: clamp(.6rem, 2.7vw, 2.3rem);
                // font-size: .7rem;
                // font-size: 2.3rem;
                // font-size: 2vw;

            }
            // text-align: left;
            // background: rgba(0, 0, 0, 0);
            // // margin: auto;

            // // padding: 70px 150px;
            // border: solid 3px green;
            
        
        }
    }
}