.about {
    // height: 1080px;
    display: flex;
    flex-direction: row;
    padding: 94px 194px;
    align-items: center;
    // margin: auto;
    gap: 250px;
    // background-color: aquamarine;
    background: none;

    .about--seja-deepen {
        width: 650px;
        // background-color: aquamarine;
        background-image: url('../../../../../assets/imgs/seja-deepen-image@2x.png');
        background-repeat: no-repeat;
        background-size: 86%;
        // background-size: cover;



        h1 {
            font-family: 'ddin-cond-bold';
            // color: var(--main-color);
            // background-image: linear-gradient(257deg, var(--second-color), var(--main-color));
            background: transparent linear-gradient(257deg, #4AAFB2 0%, #004257 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 12.5em;
            // background: none;
            padding: 170px 0px 170px 85px;
        }
    }
    
    

    .about--text {
        display: flex;
        flex-direction: column;
        // width: 650px;
        // padding: 140px;

        p {
            font-family: 'ddin';
            color: var(--main-color);
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

}