.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 94px 194px;
    align-items: center;
    gap: 250px;
    background-color: var(--bg-color);

    transition: all .5s ease;



    .about--text {
        display: flex;
        flex-direction: column;

        p {
            font-family: 'ddin';
            color: var(--main-color);
            font-size: 24px;
            // margin-bottom: 24px;
        }
    }

}

@media (max-width: 1700px) {

    .about {
        gap: 150px;
        transition: all .5s ease;
        padding: 94px 164px;

    }

}

@media (max-width: 1600px) {

    .about {
        gap: 110px;
        transition: all .5s ease;
        padding: 94px 124px;

    }

}

@media (max-width: 1500px) {

    .about {
        gap: 75px;
        transition: all .5s ease;
        padding: 94px 94px;

    }

}


@media (max-width: 1400px) {

    .about {
        transition: all .5s ease;
        width: 100%;
        margin: auto;
        padding: 94px 8%;
        // border: solid 3px red;
        
        .about--img {
            position: relative;
            opacity: .15;
            margin: auto;
            // border: solid 3px rgb(255, 0, 217);
        }
        
        .about--text {
            
            position: absolute;
            // padding: 70px 150px;
            width: 85%;
            // margin: auto;
            text-align: left;
            background: rgba(0, 0, 0, 0);
            // border: solid 3px green;
            
            
            p {
                font-size: 32px;

            }
        }


    }

}