.solutions {
    width: 100%;
    color: #fff;
    padding: 9rem 7.5rem;
    font-family: 'ddin';
    border-radius: 2.5rem;


    background-image: url('../../../../../assets/imgs/nosso-trabalho-image.png');
    background-size: cover;
    // padding: 144px 120px;


    // kp
    // max-width: 100rem;
    // margin-inline: auto;
    // padding-inline: 2rem;


    .solutions--grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;


        >* {
            // border: solid 3px hotpink;

            background: #ffffff15 0% 0% no-repeat padding-box;
            border-radius: 2rem;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);

            // padding: 5px 0px;
            padding: 0px 2em;
            height: 22rem;

        }

        .solutions--intro {
            font-size: 5.25em;
            padding: 0;
            padding-left: .5em;
            font-family: 'ddin-cond-bold';
            line-height: 5.6rem;
            display: flex;
            align-items: center;

        }

        .solutions--card {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .sol--header {
                font-size: 1.5rem;
                line-height: 1.6rem;
                padding-bottom: .6em;
            }

            .sol--description {
                font-size: 1rem;
                line-height: 1.5rem;
            }

        }
    }



    h3 {
        // font-size: 1rem;
        margin: 2.5rem 0 0 0;
        text-align: end;
    }

}

@media (max-width: 992) {

    .solutions {

        .solutions--grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(3, 1fr);
        }
    }

}